/* merged.css begin */
/* ../../libs/clever-bem-lib/b-page/b-page.css begin */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media (max-width: 767px) {
  .b-page {
    padding-left: 20px;
    padding-right: 20px;
  }
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ../../libs/clever-bem-lib/b-page/b-page.css end */

/* ../../blocks/b-page/b-page.css begin */
.b-page{
    font-family: Arial, sans-serif;
    background: url("../../images/bg.jpg");
}

/* ../../blocks/b-page/b-page.css end */

/* ../../libs/clever-bem-lib/b-form-control/b-form-control.css begin */
label,
input,
button,
select,
textarea {
  font-weight: normal;
  line-height: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
input,
textarea{
  width: 206px;
}
textarea {
  height: auto;
  resize: none;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  outline: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.b-form-control_state_error .b-form-control__label,
.b-form-control_state_error .b-form-control__help,
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  color: #b94a48;
}
.b-form-control_state_error input,
.b-form-control_state_error select,
.b-form-control_state_error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.b-form-control_state_error input:focus,
.b-form-control_state_error select:focus,
.b-form-control_state_error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.b-form-control_state_error .b-form-control__prepend .b-form-control__add-on,
.b-form-control_state_error .b-form-control__append .b-form-control__add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.b-form-control__help{
  display: block;
  margin-bottom: 10px;
}
.b-form-control__label_from_radio,
.b-form-control__label_from_checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.b-form-control__label_from_radio input[type="radio"],
.b-form-control__label_from_checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.b-form-control__append,
.b-form-control__prepend {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
  white-space: nowrap;
}
.b-form-control__append input,
.b-form-control__prepend input,
.b-form-control__append select,
.b-form-control__prepend select{
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.b-form-control__append input:focus,
.b-form-control__prepend input:focus,
.b-form-control__append select:focus,
.b-form-control__prepend select:focus{
  z-index: 2;
}
.b-form-control__append .b-form-control__add-on,
.b-form-control__prepend .b-form-control__add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.b-form-control__append .b-form-control__add-on,
.b-form-control__prepend .b-form-control__add-on,
.b-form-control__append .b-form-control__button,
.b-form-control__prepend .b-form-control__button{
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.b-form-control__prepend .b-form-control__add-on,
.b-form-control__prepend .b-form-control__button {
  margin-right: -1px;
}
.b-form-control__prepend .b-form-control__add-on:first-child,
.b-form-control__prepend .b-form-control__button:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.b-form-control__append input,
.b-form-control__append select{
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.b-form-control__append .b-form-control__add-on,
.b-form-control__append .b-form-control__button{
  margin-left: -1px;
}
.b-form-control__append .b-form-control__add-on:last-child,
.b-form-control__append .b-form-control__button:last-child{
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.b-form-control__prepend.b-form-control__append input,
.b-form-control__prepend.b-form-control__append select{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.b-form-control__prepend.b-form-control__append .b-form-control__add-on:first-child,
.b-form-control__prepend.b-form-control__append .b-form-control__button:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.b-form-control__prepend.b-form-control__append .b-form-control__add-on:last-child,
.b-form-control__prepend.b-form-control__append .b-form-control__button:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* ../../libs/clever-bem-lib/b-form-control/b-form-control.css end */

/* ../../blocks/b-form-control/b-form-control.css begin */
.b-form-control__label_from_text
{
    display: inline;
    zoom:1;
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px 0 0;
}
.b-form-control__help_from_text
{
    display: inline;
    zoom:1;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0 0 10px;
}
.b-form-control__input{
    width: 30px;
}

/* ../../blocks/b-form-control/b-form-control.css end */

/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_text.css begin */
.b-form-control_type_text
{
}

/* ../../libs/clever-bem-lib/b-form-control/_type/b-form-control_type_text.css end */

/* ../../libs/clever-bem-lib/i-inline/i-inline.css begin */
.i-inline{
	display: inline;
	zoom:1;
	display: inline-block;
	vertical-align: top;
}
/* ../../libs/clever-bem-lib/i-inline/i-inline.css end */

/* ../../libs/clever-bem-lib/i-btn/i-btn.css begin */
.i-btn{
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  height:30px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.i-btn:hover,
.i-btn:focus,
.i-btn:active,
.i-btn.i-btn_type_disabled,
.i-btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.i-btn:active{
  background-color: #cccccc \9;
}
.i-btn:first-child {
  *margin-left: 0;
}
.i-btn:hover,
.i-btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.i-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.i-btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.i-btn.i-btn_type_disabled,
.i-btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.i-btn_size_large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.i-btn_size_large [class^="icon-"],
.i-btn_size_large [class*=" icon-"] {
  margin-top: 4px;
}
.i-btn_size_small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.i-btn_size_small [class^="icon-"],
.i-btn_size_small [class*=" icon-"] {
  margin-top: 0;
}
.i-btn_size_mini [class^="icon-"],
.i-btn_size_mini [class*=" icon-"] {
  margin-top: -1px;
}
.i-btn_size_mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.i-btn_type_block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.i-btn_type_block + .i-btn_type_block {
  margin-top: 5px;
}
input[type="submit"].i-btn_type_block,
input[type="reset"].i-btn_type_block,
input[type="button"].i-btn_type_block {
  width: 100%;
}
.i-btn_color_primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.i-btn_color_primary:hover,
.i-btn_color_primary:focus,
.i-btn_color_primary:active,
.i-btn_color_primary.i-btn_type_disabled,
.i-btn_color_primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.i-btn_color_primary:active {
  background-color: #003399 \9;
}
.i-btn_color_warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.i-btn_color_warning:hover,
.i-btn_color_warning:focus,
.i-btn_color_warning:active,
.i-btn_color_warning.i-btn_type_disabled,
.i-btn_color_warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.i-btn_color_warning:active {
  background-color: #c67605 \9;
}
.i-btn_color_danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.i-btn_color_danger:hover,
.i-btn_color_danger:focus,
.i-btn_color_danger:active,
.i-btn_color_danger.i-btn_type_disabled,
.i-btn_color_danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.i-btn_color_danger:active{
  background-color: #942a25 \9;
}
.i-btn_color_success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.i-btn_color_success:hover,
.i-btn_color_success:focus,
.i-btn_color_success:active,
.i-btn_color_success.i-btn_type_disabled,
.i-btn_color_success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.i-btn_color_success:active{
  background-color: #408140 \9;
}
.i-btn_color_info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.i-btn_color_info:hover,
.i-btn_color_info:focus,
.i-btn_color_info:active,
.i-btn_color_info.i-btn_type_disabled,
.i-btn_color_info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.i-btn_color_info:active{
  background-color: #24748c \9;
}
.i-btn_color_inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.i-btn_color_inverse:hover,
.i-btn_color_inverse:focus,
.i-btn_color_inverse:active,
.i-btn_color_inverse.i-btn_type_disabled,
.i-btn_color_inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.i-btn_color_inverse:active{
  background-color: #080808 \9;
}
button.i-btn,
input[type="submit"].i-btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.i-btn::-moz-focus-inner,
input[type="submit"].i-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.i-btn_size_large,
input[type="submit"].i-btn_size_large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.i-btn_size_small,
input[type="submit"].i-btn_size_small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.i-btn_size_mini,
input[type="submit"].i-btn_size_mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.i-btn_type_link,
.i-btn_type_link:active,
.i-btn_type_link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.i-btn_type_link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.i-btn_type_link:hover,
.i-btn_type_link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.i-btn_type_link[disabled]:hover,
.i-btn_type_link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}

/* ../../libs/clever-bem-lib/i-btn/i-btn.css end */

/* ../../blocks/b-content/b-content.css begin */
.b-content
{
    margin: 0 auto -40px;
    width:960px;
    position: relative;
    min-height:100%;
    height:auto !important;
    height:100%;
    z-index:0;
}
.b-content__footer{
    height: 60px;
    clear:both;
}
.b-content__header{
    height: 30px;
    padding: 10px 20px;
    background: #dddddd;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
        background: -webkit-linear-gradient(top, bottom, #eeeeee, #cccccc);
        background: -moz-linear-gradient(top,  #eeeeee,  #cccccc);
        background: -o-linear-gradient(top,  #eeeeee,  #cccccc);
        background: -ms-linear-gradient(top,  #eeeeee,  #cccccc);
        background: linear-gradient(top, #eeeeee, #cccccc);
    box-shadow: inset 0 1px 7px rgba(0,0,0,0.3), 1px 1px 7px rgba(0,0,0,0.4);
    -webkit-border-radius: 0 0 15px 15px;
       -moz-border-radius: 0 0 15px 15px;
         -o-border-radius: 0 0 15px 15px;
            border-radius: 0 0 15px 15px;
}
.b-content__link{
    height:auto;
    text-decoration: none;
    margin-left:50px;
}
.b-content__main
{
    padding: 30px 0 30px 15px;
    cursor: pointer;
}
.b-content__card
{
    background: url("../../images/shirt.png") no-repeat;
    width:120px;
    height: 186px;
    margin: 0 15px 60px 0;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
         -o-border-radius: 7px;
            border-radius: 7px;
}
.b-content__card_state_war{
    position:relative;
}
.b-content__card_state_war:before{
    content: '';
    position:absolute;
    z-index:0;
    top: 30px;
    left:0;
    right:0;
    background: url("../../images/shirt.png") no-repeat;
    height: 186px;
    margin: 0;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
         -o-border-radius: 7px;
            border-radius: 7px;
}
.b-content__war{
    position:absolute;
    background: url("../../images/shirt.png") no-repeat;
    width:120px;
    height: 186px;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
         -o-border-radius: 7px;
            border-radius: 7px;
    z-index:1;
    top: 50px;
    margin: 0;
}
.b-content__card_state_disabled,
.b-content__war_state_disabled{
    background-position: center bottom;
}
.b-content__card_suit_clubs,
.b-content__war_suit_clubs{
    background: url("../../images/clubs.png") no-repeat;
}
.b-content__card_suit_diamonds,
.b-content__war_suit_diamonds{
    background: url("../../images/diamonds.png") no-repeat;
}
.b-content__card_suit_spades,
.b-content__war_suit_spades{
    background: url("../../images/spades.png") no-repeat;
}
.b-content__card_suit_hearts,
.b-content__war_suit_hearts{
    background: url("../../images/hearts.png") no-repeat;
}
.b-content__card_heft_2,
.b-content__war_heft_2{
    background-position: 0 top;
}
.b-content__card_heft_3,
.b-content__war_heft_3{
    background-position: -120px top;
}
.b-content__card_heft_4,
.b-content__war_heft_4{
    background-position: -240px top;
}
.b-content__card_heft_5,
.b-content__war_heft_5{
    background-position: -360px top;
}
.b-content__card_heft_6,
.b-content__war_heft_6{
    background-position: -480px top;
}
.b-content__card_heft_7,
.b-content__war_heft_7{
    background-position: -600px top;
}
.b-content__card_heft_8,
.b-content__war_heft_8{
    background-position: -720px top;
}
.b-content__card_heft_9,
.b-content__war_heft_9{
    background-position: -840px top;
}
.b-content__card_heft_10,
.b-content__war_heft_10{
    background-position: -960px top;
}
.b-content__card_heft_11,
.b-content__war_heft_11{
    background-position: -1080px top;
}
.b-content__card_heft_12,
.b-content__war_heft_12{
    background-position: -1200px top;
}
.b-content__card_heft_13,
.b-content__war_heft_13{
    background-position: -1320px top;
}
.b-content__card_heft_14,
.b-content__war_heft_14{
    background-position: -1440px top;
}

/* ../../blocks/b-content/b-content.css end */

/* ../../blocks/b-footer/b-footer.css begin */
.b-footer
{
    height: 20px;
    margin: 0 auto;
    padding: 10px 20px;
    position:relative;
    z-index: 1;
    width:920px;
    background: #dddddd;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
        background: -webkit-linear-gradient(top, bottom, #eeeeee, #cccccc);
        background: -moz-linear-gradient(top,  #eeeeee,  #cccccc);
        background: -o-linear-gradient(top,  #eeeeee,  #cccccc);
        background: -ms-linear-gradient(top,  #eeeeee,  #cccccc);
        background: linear-gradient(top, #eeeeee, #cccccc);
    box-shadow: inset 0 1px 7px rgba(0,0,0,0.3), 1px 1px 7px rgba(0,0,0,0.4);
    -webkit-border-radius: 15px 15px 0 0;
       -moz-border-radius: 15px 15px 0 0;
         -o-border-radius: 15px 15px 0 0;
            border-radius: 15px 15px 0 0;
}

/* ../../blocks/b-footer/b-footer.css end */

/* ../../libs/clever-bem-lib/b-scripts/b-scripts.css begin */
.b-scripts
{
    display: none;
    position: absolute;
}

/* ../../libs/clever-bem-lib/b-scripts/b-scripts.css end */


/* merged.css end */

